<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://10.100.61.122:8443/build/ios/20180122144741/easefin-v1.0.0-Test.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&amp;quality=100&amp;size=b4000_4000&amp;sec=1505442317&amp;di=d2fe9e65d64f56315334040896afbf5c&amp;src=http://img2.a0bi.com/upload/ttq/20160729/1469781927056.jpeg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&amp;quality=100&amp;size=b4000_4000&amp;sec=1505442317&amp;di=d2fe9e65d64f56315334040896afbf5c&amp;src=http://img2.a0bi.com/upload/ttq/20160729/1469781927056.jpeg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.easexin.enterprise.CEFinancialOA</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>宜信普惠</string>
				<key>title</key>
				<string>宜信普惠</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
